.dummy-display {
    display: flex;
}

.card-name {
    text-align: left;
    size: 1px;
}

.icon-card {
    margin-right: 20px;
    color: #406e73;
}

.img-card {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /* width: 2%; */
    /* display: flex; */
}

.button-icon {
    color: #406e73;
    display: flex;
}

/* CONTACT CARDS */

.detail-button {
    display: flex;
}

.card-margin{
    margin: 10px
}

.btn-card{
    width: 100px
}
/* CLIENT CARDS */
